[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ChenJiaGit
[access "refs/for/refs/*"]
	read = group user/ChenJiaGit
	push = group user/ChenJiaGit
	label-Code-Review = -2..+2 group user/ChenJiaGit
	label-Verified = -1..+1 group user/ChenJiaGit
	rebase = group user/ChenJiaGit
	removeReviewer = group user/ChenJiaGit
	submit = group user/ChenJiaGit
[access "refs/heads/*"]
	read = group user/ChenJiaGit
	create = group user/ChenJiaGit
	push = +force group user/ChenJiaGit
	pushMerge = group user/ChenJiaGit
[access "refs/tags/*"]
	push = +force group user/ChenJiaGit
	pushTag = group user/ChenJiaGit
	pushSignedTag = group user/ChenJiaGit
